@import './variables.scss';
.footer{
    caret-color: transparent;
    background-color: rgb(24, 24, 24);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease all;
    margin-top: 10px;
    &__container{
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include breakpoint(md) {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 180px;
            flex-direction: inherit;
        }
        &__social, &__address, &__else{
            color: white;
            width: 90%;
            height: 120px;
            padding: 15px;
            text-align: left;
            p{
                margin-bottom: 5px;
            }
            @include breakpoint(md) {
                width: 250px;
                height: 150px;
            }
            .text{
                font-size: 14px;
            }
        }
        &__social{
            height: 100px;
            font-size: 14px;
            @include breakpoint(md) {
                height: 150px;
            }
        }
            
    }
}